<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412069843657-b1p68tu5dn45nr0sh46ukasaku05vjcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412069843657-b1p68tu5dn45nr0sh46ukasaku05vjcs</string>
	<key>API_KEY</key>
	<string>AIzaSyA-KwQOpcyG-qhPW3dNKj0ea20eRrdG1zs</string>
	<key>GCM_SENDER_ID</key>
	<string>412069843657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.peniel.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-80a4f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-80a4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412069843657:ios:61acc34d3848f970d8b318</string>
</dict>
</plist>